.Pad {
    min-width: 4rem;
    min-height: 4rem;
    border: 2px solid orange;
}

.active {
    border: 2px solid cyan;
}

.play {
    background-color: hsla(154, 66%, 80%, 0.45);
}

.play-active {
    background-color: hsla(154, 66%, 80%, 1);
}