.Pad {
    width: 6rem;
    height: 6rem;
    margin: 0.15rem;
    border: 3px solid hsla(203, 89%, 70%, 1);
    border-radius: 5px;
    background-color: hsla(203, 89%, 70%, 1);
}

.active {
    border-color: hsla(91, 89%, 70%, 1);
    background-color:  hsla(91, 89%, 70%, 1);
}

.play {
    background-color: hsla(343, 89%, 70%, 0.5);
}

.play-active {
    background-color: hsla(343, 89%, 70%, 1);
}